{% extends "base.html" %}
{% block title %}
    support-and-teams  
    {% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Terms and Conditions</h1>
    <p class="lead text-center">Please read these terms and conditions carefully before using our website or services.
    </p>
    <hr>

    <h3>1. General Terms</h3>
    <p>By using our website, placing an order, or accessing our services, you agree to be bound by these Terms and
        Conditions. If you do not agree, please do not use our website.</p>

    <h3>2. Orders and Reservations</h3>
    <p>When you place an order or make a reservation, you agree to provide accurate and complete information. You are
        responsible for any fees or charges incurred due to your order or reservation.</p>

    <h3>3. Payment</h3>
    <p>We accept various forms of payment, including credit/debit cards and third-party payment processors. You agree to
        provide valid payment information and authorize the transaction.</p>

    <h3>4. Cancellations and Refunds</h3>
    <p>If you need to cancel or modify an order, please contact us within a reasonable time frame. Refunds will be
        processed according to our refund policy.</p>

    <h3>5. Use of Website</h3>
    <p>By using our website, you agree not to engage in any unlawful activities, such as distributing viruses,
        interfering with the website’s functionality, or accessing restricted areas of the website.</p>

    <h3>6. Limitation of Liability</h3>
    <p>Our liability is limited to the maximum extent permitted by law. We are not responsible for any indirect,
        incidental, or consequential damages arising from the use of our services.</p>

    <h3>7. Changes to Terms</h3>
    <p>We reserve the right to modify or update these terms at any time. All changes will be posted on this page, and by
        continuing to use our services, you accept the updated terms.</p>

    <h3>8. Contact Us</h3>
    <p>If you have any questions regarding these terms, please contact us at <a
            href="mailto:deepakbaij0927@gmail.com">contact@restaurant.com</a>.</p>
</div>
{% endblock content %}